/*-----------------------------------------------------------*/
/*------------------------- BASE STYLING --------------------*/
/*-----------------------------------------------------------*/
/*
HOMER COLOR GUIDE:
-Skin: #FED90F (Metallic Yellow)
-Beard: #D1B271 (Light French Beige)
-Shirt: #FFFFFF (White)
-Pants: #70D1FE (Maya Blue)
-Shoes: #424F46 (Outer Space)
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	/* Downloadable font-family for Footer symbols */
	font-family: 'FontAwesome5Brands-Regular';
	src: url('./fonts/FontAwesome5Brands-Regular.eot');
	src: url('./fonts/FontAwesome5Brands-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('./fonts/FontAwesome5Brands-Regular.svg#FontAwesome5Brands-Regular')
			format('svg'),
		url('./fonts/FontAwesome5Brands-Regular.ttf') format('truetype'),
		url('./fonts/FontAwesome5Brands-Regular.woff') format('woff'),
		url('./fonts/FontAwesome5Brands-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
	Downloadable font-family for body */
/* font-family: 'Helvetica Neue Regular';
	src: url('./fonts/helveticaneue-regular.ttf');
} */

body {
	font-family: 'Helvetica Neue Regular', 'Helvetica Neue', 'HelveticaNeue-Light',
		'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
		sans-serif;
	background-color: #fed90f;
	letter-spacing: -1px;
}

/* For creating style variables for the marquee */
:root {
	--marquee-width: 100vw;
	--marquee-height: 7vw;
	--marquee-elements: 9;
	--marquee-elements-displayed: 4;
	--marquee-element-width: calc(
		var(--marquee-width) / var(--marquee-elements-displayed)
	);
	--marquee-animation-duration: calc(var(--marquee-elements) * 4s);
}

a:hover {
	color: #70d1fe;
}

.grid {
	/* placed in App.js */
	display: grid;
	height: 100vh;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	/* grid-gap: 1em; */
}

header {
	background: #ffffff;
	border-top: solid 4px black;
	border-bottom: solid 4px black;
	padding: 0;
}

main {
	padding: 0;
}

footer {
	background: black;
	color: white;
	padding: 1rem;
}

/*-----------------------------------------------------------*/
/*------------------------- CLASSES -------------------------*/
/*-----------------------------------------------------------*/
.flex-container {
	/* Put this in the element holding the flex items; this positions all items like a row. */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.item-container {
	/* For holding most Big O, Algorithm, and Data Structure content */
	border-top: solid 4px black;
	text-align: center;
	padding: 1.5rem 2rem 0.5rem;
}

.item-container > h2 {
	font-size: 1.75rem;
}

.item-container img {
	/* border: solid 4px blue; */
}

.item-container > * {
	/* For styling all the items not turned into flex */
	/* border: solid 4px black; */
	/* padding: 0 1rem 1rem; */
}

.center-text {
	/* Put this in the element holding the text I want to center. */
	text-align: center;
}

.left-text {
	/* Put this in the element holding the text I want to align left. */
	text-align: left;
}

.border-text {
	/* Put this in the element holding the text I want to add bordering. */
	border: solid 4px black;
	border-radius: 50px;
	padding: 1rem;
	margin: 1rem;
	background-color: #d1b271;
}

.remove-underline a {
	/* To remove the underline of any Anchor links */
	text-decoration: none;
}

.symbol-font {
	/* For Footer symbols */
	font-family: FontAwesome5Brands-Regular;
	letter-spacing: 0;
	padding: 0 0 0 0.25rem;
}

.white-background {
	/* For turning any containers to white */
	background-color: white;
}

.donut {
	/* To edit the donuts */
	margin: 0.5rem;
}

.loader {
	/* To make the donuts spin */
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*-----------------------------------------------------------*/
/*------------------------- MARQUEE -------------------------*/
/*-----------------------------------------------------------*/
/* ICEBOX: To move marquee classes into its own component */
.marquee-holder {
	/* For styling the marquee holder */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 1.5rem;
}

.marquee {
	/* For styling the actual marquee */
	width: var(--marquee-width);
	height: var(--marquee-height);
	background-color: white;
	color: black;
	overflow: hidden;
	position: relative;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

/* All marquee:before & after is for adding and styling left and right transparencies */
/* .marquee:before,
.marquee:after {
	position: absolute;
	top: 0;
	width: 10rem;
	height: 100%;
	content: '';
	z-index: 1;
}
.marquee:before {
	left: 0;
	background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
	right: 0;
	background: linear-gradient(to left, #111 0%, transparent 100%);
} */

.marquee-content {
	/* To style the actual spacing of the words in the marquee */
	list-style-type: none;
	height: 100%;
	display: flex;
	animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* For creating the scroll logic for the marquee */
@keyframes scrolling {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(
			calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
		);
	}
}

/* For when you hover over the marquee and want to pause it */
/* .marquee-content:hover {
	
	animation-play-state: paused;
} */

.marquee-content li {
	/* width: var(--marquee-element-width); */
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--marquee-height) * 2 / 4);
	white-space: nowrap;
	margin: 0 0.2rem;
}

/*-----------------------------------------------------------*/
/*------------------------- IDs -----------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*--------------------- HOME PAGE ---------------------------*/
/*-----------------------------------------------------------*/
#flex-container-home {
	/* Flexbox specifically for two flex items, the Homer headline and the spinning donut. */
	padding: 1rem 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

#homerText {
	/* "IF HOMER CAN DO IT, YOU CAN TOO" */
	padding-top: 0.5rem;
	margin: 1.5rem;
	font-size: 3.5rem;
	text-align: left;
}

#donut-home-container {
	/* For styling the div holding the donut img */
}

#donut-home {
	/* For styling the specific donut on the home page */
	width: 50%;
	height: auto;
}

#home-intro {
	/* For holding the Big O? section and the copy introducing the app */
	padding: 0.1rem 3rem;
	font-size: 1.5rem;
}

/*-----------------------------------------------------------*/
/*------------------------ NAVBAR ---------------------------*/
/*-----------------------------------------------------------*/
#nav-container {
	/* For styling the overall Navbar holding BIG D'OH title and the toggle */
	padding: 0;
	background-color: cornsilk;
	border: none;
}

#nav-title {
	/* For styling the BIG D'OH Home Page link */
	margin-left: 1.5rem;
	padding: 2rem;
	font-size: 2.5rem;
}

#nav-toggle {
	/* For styling the Navbar toggle */
	margin-right: 1.5rem;
	padding: 1rem;
	border: none;
	color: black;
}

.custom-toggler.navbar-toggler {
	border-color: black;
}
/* Setting the stroke to black using rgba values (0, 0, 0, 1) */

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#nav-item {
	/* For styling the Navbar links */
	padding: 2rem 0;
	border-top: solid 4px black;
	text-align: center;
	font-size: xx-large;
	color: black;
}

#border-text-study {
	border: solid 4px black;
	border-radius: 50px;
	padding: 0;
	margin: 1rem;
	background-color: #d1b271;
}

#nav-item:hover {
	background-color: #70d1fe;
}

/*-----------------------------------------------------------*/
/*-------------------------- FOOTER -------------------------*/
/*-----------------------------------------------------------*/
/* There are IDs are used for the media queries, see below */
#footer-container {
	/* For styling everything inside the Footer */
	text-align: right;
}

/*-----------------------------------------------------------*/
/*------------------------- BIG O ---------------------------*/
/*-----------------------------------------------------------*/
#bigO-main {
	/* For styling the main BIG O page */
}

#bigO-title {
	/* For styling "BIG O NOTATION" headline & donut section */
	padding: 2rem 1rem 0;
	margin: 1rem 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bigO-headline {
	/* For styling "BIG O NOTATION" copy */
	font-size: 1.75rem;
	padding: 1rem 0;
	margin: 0;
}

#bigO-donut-container {
	/* For styling the div holding the Big O donut img */
	padding-left: 1rem;
}

#bigO-donut {
	/* For styling Big O donut */
	height: 50px;
	width: auto;
}

#bigO-blurb {
	/* For styling "BIG O NOTATION" blurb */
	padding: 0 1rem 1rem;
	font-size: 1rem;
}

#bigO-image {
	/* For styling "BIG O NOTATION" image */
	background-color: white;
	padding: 1rem 2.5rem;
	border-top: solid 4px black;
}

#bigO-container {
	/* For styling the overall "BIG O NOTATION" values */
}

/*-----------------------------------------------------------*/
/*--------------------- ALGORITHMS --------------------------*/
/*-----------------------------------------------------------*/
#algorithms-main {
	/* For styling the main ALGORITHMS page */
}

#algorithms-title {
	/* For styling "ALGORITHMS" headline & donut section */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem 0;
	margin: 1rem 0 0;
}

#algorithms-headline {
	/* For styling "ALGORITHMS" copy */
	padding: 1rem 0;
	margin: 0;
	font-size: 1.75rem;
}

#algorithms-donut-container {
	padding-left: 1rem;
}

#algorithms-donut {
	/* For styling Algorithms donut */
	height: 50px;
	width: auto;
}

#algorithms-blurb {
	/* For styling "ALGORITHM" blurb */
	padding: 0 1rem 1rem;
	font-size: 1rem;
}

#algorithms-container {
	/* For styling the overall "ALGORITHMS" values */
}

#algorithms-container img {
	height: auto;
	width: 75%;
	border-radius: 12.5%;
}

.flex-container-algorithms {
	/* border: 4px solid blue; */
}

.item-container-algorithms {
	/* For holding flex Algorithm content */
	border-top: solid 4px black;
	text-align: center;
	padding: 1.5rem 2rem 0.5rem;
}

.item-container-algorithms h4 {
	padding: 1rem;
	margin: 0;
	/* border: 4px solid black; */
}

.item-container-algorithms img {
	/* border: 4px solid black; */
	padding: 1rem;
	height: auto;
	width: 40%;
}

.item-container-algorithms p {
	padding: 0.5rem 1rem;
	margin: 0;
	height: 40%;
	width: auto;
	/* border: 4px solid black; */
}

/*-----------------------------------------------------------*/
/*-------------------- DATA STRUCTURES ----------------------*/
/*-----------------------------------------------------------*/
#data-structures-main {
	/* For styling the main DATA STRUCTURES page */
}

#data-structures-title {
	/* For styling "DATA STRUCTURES" headline & donut section */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem 0;
	margin: 1rem 0 0;
}

#data-structures-headline {
	/* For styling "DATA STRUCTURES" copy */
	font-size: 1.75rem;
	padding: 1rem 0;
	margin: 0;
}

#data-structures-donut-container {
	padding-left: 1rem;
}

#data-structures-donut {
	/* For styling DATA STRUCTURES donut */
	height: 50px;
	width: auto;
}

#data-structures-blurb {
	/* For styling "DATA STRUCTURES" blurb */
	padding: 0 1rem 1rem;
	font-size: 1rem;
}

#data-structures-container {
	/* For styling the overall "DATA STRUCTURES" values */
}

#data-structures-container img {
	height: auto;
	width: 75%;
}

.flex-container-data-structures {
	/* border: 4px solid blue; */
}

.item-container-data-structures {
	/* For holding flex Data Structure content */
	border-top: solid 4px black;
	text-align: center;
	padding: 1.5rem 2rem 0.5rem;
}

.item-container-data-structures h4 {
	padding: 1rem;
	margin: 0;
	/* border: 4px solid black; */
}

.item-container-algorithms p {
	padding: 0.5rem 1rem;
	margin: 0;
	height: 40%;
	width: auto;
	/* border: 4px solid black; */
}

/*-----------------------------------------------------------*/
/*------------------ TTT / STUDY BREAK ----------------------*/
/*-----------------------------------------------------------*/
#ttt-container {
	/* For styling the main TTT page: The "TAKE A STUDY BREAK!" Headline and blurb, and where the link to the Game component is */
}

#ttt-headline {
	/* For styling the "TAKE A STUDY BREAK" container */
	margin: 2rem 2rem 1rem;
}

#ttt-headline-copy {
	/* For styling the actual "TAKE A STUDY BREAK" copy */
	font-size: 1.5rem;
	padding: 0;
	margin: 0;
}

#ttt-blurb {
	/* For styling specifically "Play Homer ..." */
	font-size: 1rem;
}

#ttt-game {
	/* For styling specifically the actual game */
}

#ttt-clear-board-button {
	/* For styling the "Clear the board" button; found on Game.jsx */
	margin: 0 0 1rem 0;
	background-color: #fed90f;
}

#ttt-clear-board-button:hover {
	/* For styling when hovering over the button */
	background-color: #70d1fe;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-------------------- MEDIA QUERIES ------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

/*-----------------------------------------------------------*/
/*---------------------- MOBILE -----------------------------*/
/*-----------------------------------------------------------*/
/* ICEBOX: App is built mobile-first, but tweaks here are made to address marquee */
@media only screen and (max-width: 42em) {
	:root {
		--marquee-height: 5vh;
		--marquee-elements-displayed: 3;
	}
	.marquee:before,
	.marquee:after {
		width: 5rem;
	}
}
/*-----------------------------------------------------------*/
/*-------------------- TABLETS ------------------------------*/
/*-----------------------------------------------------------*/
@media only screen and (min-width: 43em) {
	/* body {
		background-color: lightblue;
	} */
	/*-----------------------------------*/
	/*--------- HOME PAGE ---------------*/
	#flex-container-home {
		/* The Flexbox specifically for two flex items, the Homer headline and the spinning donut. */
		flex-direction: row;
		padding: 1rem 3rem;
	}
	#homerText {
		/* "IF HOMER CAN DO IT, YOU CAN TOO" */
		font-size: 3rem;
	}
	#homerText > br {
		display: none;
	}
	#donut-home-container {
		text-align: left;
	}
	#donut-home {
		/* The style the specific donut on the home page */
		width: 125px;
	}
	#home-intro {
		/* For holding the "Big O?" section and the copy introducing the app */
		padding: 0.1rem 10rem;
	}
	/*-----------------------------------*/
	/*--------- MARQUEE -----------------*/
	.marquee-content li {
		font-size: calc(var(--marquee-height) * 2 / 5);
	}
	/*-----------------------------------*/
	/*--------- FOOTER ------------------*/
	/* ICEBOX: fix CSS Grid for footer in media query */
	/* #footer-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'internal blank brady'
			'external blank molly'
			'blank blank external';
	}
	#footer-internal-links {
		text-align: left;
		grid-area: 'internal';
	}
	#Footer-credit-brady-links {
		text-align: right;
		grid-area: 'brady';
	}
	#footer-credit-molly-links {
		text-align: right;
		grid-area: 'molly';
	}
	#footer-external-links {
		text-align: left;
		grid-area: 'external';
	}
	#blank {
		grid-area: 'blank';
	} */
	/*-----------------------------------*/
	/*--------- NAVBAR ------------------*/
	/* ICEBOX: Update navbar to open sideways outside of mobile view */
	/*-----------------------------------*/
	/*--------- BIG O -------------------*/
	#bigO-title {
		padding-bottom: 0.5rem;
	}
	#bigO-headline {
		font-size: 3rem;
	}
	#bigO-donut {
		height: 100px;
	}
	#bigO-blurb {
		padding: 0 5rem 1rem;
		font-size: 1rem;
	}
	.item-container {
		padding: 2.5rem 3rem 1.5rem;
		font-size: 1.25rem;
	}
	/*-----------------------------------*/
	/*--------- ALGORITHMS --------------*/
	#algorithms-title {
		padding-bottom: 0.5rem;
	}
	#algorithms-headline {
		font-size: 3rem;
	}
	#algorithms-donut {
		height: 100px;
	}
	#algorithms-blurb {
		padding: 0 5rem 1rem;
		font-size: 1rem;
	}
	#algorithms-container img {
		height: 50%;
		width: 95%;
	}
	.flex-container-algorithms {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}
	.item-container-algorithms {
		border-left: 4px solid black;
		text-align: left;
		padding: 1rem;
		margin: 0;
		width: 50%;
	}
	.item-container-algorithms:first-child {
		border-left: none;
	}
	.item-container-algorithms h4 {
		padding: 1rem;
		/* border: 4px solid black; */
	}
	.item-container-algorithms img {
		/* border: 4px solid black; */
		padding: 1rem;
		height: auto;
		width: 60%;
	}
	.item-container-algorithms p {
		padding: 1rem;
		font-size: 1rem;
		/* border: 4px solid black; */
	}
	/*-----------------------------------*/
	/*--------- DATA STRUCTURES ---------*/
	#data-structures-title {
		padding-bottom: 0.5rem;
	}
	#data-structures-headline {
		font-size: 3rem;
	}
	#data-structures-donut {
		height: 100px;
	}
	#data-structures-blurb {
		padding: 0 5rem 1rem;
		font-size: 1rem;
	}
	.flex-container-data-structures {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}
	.item-container-data-structures {
		border-left: 4px solid black;
		text-align: left;
		padding: 1rem;
		margin: 0;
		width: 50%;
	}
	.item-container-data-structures:first-child {
		border-left: none;
	}
	.item-container-data-structures h4 {
		padding: 1rem;
	}
	.item-container-data-structures img {
		padding: 1rem;
	}
	.item-container-data-structures p {
		padding: 1rem;
		font-size: 1rem;
	}
	/*-----------------------------------*/
	/*--------- STUDY BREAK / TTT -------*/
	#ttt-headline {
		margin: 2rem 10rem 1rem;
	}
	#ttt-headline-copy {
		font-size: 2rem;
		padding: 0;
		margin: 0;
	}
	#ttt-blurb {
		font-size: 1.5rem;
	}
}
/*-----------------------------------------------------------*/
/*-------------------- DESKTOP (smaller) --------------------*/
/*-----------------------------------------------------------*/
@media only screen and (min-width: 62em) {
	/* body {
		background-color: lightpink;
	} */
	/*-------------------------------*/
	/*--------- BIG O ---------------*/
	#bigO-blurb {
		padding: 0 10rem 1.5rem;
	}
	.item-container {
		padding: 2.5rem 3rem 1.5rem;
		font-size: 1.25rem;
	}
	/*-------------------------------*/
	/*--------- ALGORITHMS ----------*/
	#algorithms-blurb {
		padding: 0 10rem 1.5rem;
	}
	/*-------------------------------*/
	/*--------- DATA STRUCTURES -----*/
	#data-structures-blurb {
		padding: 0 10rem 1.5rem;
	}
}
/*-----------------------------------------------------------*/
/*-------------------- DESKTOP (larger) ---------------------*/
/*-----------------------------------------------------------*/
@media only screen and (min-width: 82em) {
	/* body {
		background-color: lightgreen;
	} */
	/*-------------------------------*/
	/*--------- BIG O ---------------*/
	#bigO-blurb {
		font-size: 1.5rem;
	}
	.item-container {
		padding: 2.5rem 7.5rem 1.5rem;
		font-size: 1.5rem;
	}
	/*-------------------------------*/
	/*--------- ALGORITHMS ----------*/
	#algorithms-blurb {
		font-size: 1.5rem;
	}
	/*-------------------------------*/
	/*--------- DATA STRUCTURES -----*/
	#data-structures-blurb {
		font-size: 1.5rem;
	}
}
