/*
HOMER COLOR GUIDE:
-Skin: #FED90F (Metallic Yellow)
-Beard: #D1B271 (Light French Beige)
-Shirt: #FFFFFF (White)
-Pants: #70D1FE (Maya Blue)
-Shoes: #424F46 (Outer Space)
*/

body {
	background-color: #fed90f;
}

a {
	/* color: #424F46; */
}

a:hover {
	color: #70d1fe;
}

.grid {
	/* placed in App.js */
	display: grid;
	height: 100vh;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	/* grid-gap: 1em; */
}

header,
main,
footer {
	padding: 1rem;
	border-top: solid 2px black;
}

header {
	background: #ffffff;
}

footer {
	background: black;
	color: white;
}

/*------------------------- IDs ----------------------------*/
/*--------------------- HOME PAGE --------------------------*/
#homerText {
	/* border: solid black; */
	padding: 1rem 0 1rem 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	text-align: left;
}

#flex-container-home {
	/* Flexbox specifically for two flex items, the Homer headline and the spinning donut. */
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

#marquee {
	/* For the scrolling marquee reading "CRACK THE CODING INTERVIEW" */
	border: solid 1px black;
	text-align: center;
	padding: 1rem;
	background-color: #d1b271;
}

/*--------------------- NAVBAR PAGE -------------------------*/
.nav-item {
	/* For stylingg the Navbar links */
	padding: 0;
	border: solid 2px black;
	text-align: center;
	font-size: xx-large;
}

/*------------------------- CLASSES ------------------------*/
.flex-container {
	/* Put this in the element holding the flex items; this positions all items like a row. */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.center-text {
	/* Put this in the element holding the text I want to center. */
	text-align: center;
}

.border-text {
	/* Put this in the element holding the text I want to add bordering. */
	border: solid 1px black;
	border-radius: 25px;
	padding: 1rem;
	margin: 1rem;
	background-color: #d1b271;
}

.donut {
	/* border: solid #ffffff; */
	margin: 0.5rem;
}

.loader {
	/* To make the donuts spin */
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
